*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
}
.body_wrapper{
    width: 100%;
    height: fit-content;
    /* border:1px solid red; */
}

/* header wrapper */
.body_wrapper .nav-header {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #ffffff;
    /* border: 1px solid blue; */
}

/* body wrapper */
.body_wrapper .main-body{
    width: 100%;
    background: #F6F6F6;
    /* border: 1px solid green; */
}

.body_wrapper .main-body .hero-background {
    /* border:2px solid red; */
    width: 70%;
    height: 100%;
    background-image: url('../assets/backround-blur.svg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3% 30%;
    left: 10%;
    top: 20%;
    transform: rotate(94deg);
}


/* navbar */
.body_wrapper .nav-header .navbar{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: 1px solid orange; */
}
.body_wrapper .nav-header .navbar img.senderlogo{
    width: 200px;
    height: 30px;
}
.body_wrapper .nav-header .navbar .other-nav{
    display: flex;
    align-items: center;
    gap: 45px;
}

/* cart icon */
.body_wrapper .nav-header .navbar .other-nav img{
    width:  25px;
    margin: auto;
}
.body_wrapper .nav-header .navbar .other-nav img:hover{
    cursor: pointer;
}

/* navbar's anchor tags */
.body_wrapper .nav-header .navbar .other-nav a{
    text-decoration: none;
    color:#475467;
    font-size: 15px;
}
.body_wrapper .nav-header .navbar .other-nav a:hover{
    text-decoration: underline;
}

/* hero section */
.body_wrapper .hero-section{
    /* background: #F6F6F6; */
    /* border: 1px solid rgb(14, 0, 9); */
    width: 100%;
    height: 120vh;
    position: relative;
    display: flex;
    align-items: center;

}

.hero-section .hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    gap: 40px;
}
.hero-section .hero-content section{
    width: 100%;
    /* border: 2px solid rgb(157, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.hero-section .hero-content section h1{
    color: #1D2939;
    font-size: 119px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 200;

}
.hero-section .hero-content section h1 b{
    background: linear-gradient(to right, #4e48e0 38% 76%, #5bc4cd 90% 46%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    font-weight: 200;
}
.hero-section .hero-content section p{
    text-align: center;
    color: #1D2939;
    font-size: 16px;
    line-height: 1.5rem;
}
.hero-section .hero-content section button {
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #4E48E0;
    width: fit-content;
    padding: 13px 30px;
    box-shadow: 0px 0px 0px 0px rgba(59, 57, 147, 0.10), 
    0px 4px 9px 0px rgba(59, 57, 147, 0.10), 
    0px 17px 17px 0px rgba(59, 57, 147, 0.09), 
    0px 39px 23px 0px rgba(59, 57, 147, 0.05), 
    0px 69px 28px 0px rgba(59, 57, 147, 0.01), 
    0px 108px 30px 0px rgba(59, 57, 147, 0.00);
    margin-top: 10px;
}

/* must read section */

/* read wrapper */
.main-body .read-wrapper{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    border:0.5px solid rgba(128, 128, 128, 0.138);
    position: relative;
}

/* header section */
.main-body .must-read {
    width: 90vw;
    /* border: 2px solid red; */
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main-body .must-read header{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.main-body .must-read header section{
    display: flex;
    justify-content: center;
}
.main-body .must-read header section h1{
    font-size: 50px;
    color: #1D2939;
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    /* border: 2px solid rgb(0, 102, 255); */
}
.main-body .must-read header section img{
    width: 35px;
    height: fit-content;
    /* border: 2px solid red; */
}

/* the must reads books */
.main-body .must-read .must-read-books{
    width: 100%;
    /* border: 2px solid blue; */
    height: fit-content;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-body .must-read .must-read-books .book1,
.main-body .must-read .must-read-books .book2,
.main-body .must-read .must-read-books .book3{
    /* border: 1px solid pink; */
    width: 31.8%;
    height: 65vh;
    border-radius: 10px;
}

.main-body .must-read .must-read-books .book1 .top,
.main-body .must-read .must-read-books .book2 .top,
.main-body .must-read .must-read-books .book3 .top {
    width: 100%;
    /* border:1px solid red; */
    height: 60%;
    /* background-color: #FFEBEC; */
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
}
.main-body .must-read .must-read-books .book1 .top .top_book1,
.main-body .must-read .must-read-books .book2 .top .top_book2,
.main-body .must-read .must-read-books .book3 .top .top_book3 {
    width: 100%;
    height: 100%;
}
/* .main-body .must-read .must-read-books .book1 .top .top_book1,
.main-body .must-read .must-read-books .book2 .top .top_book2,
.main-body .must-read .must-read-books .book3 .top .top_book3{
    align-self: flex-end;
    width: 60%;
    height: 85%;
    
} */

 /* books bottom */
.main-body .must-read .must-read-books .book1 .bottom,
.main-body .must-read .must-read-books .book2 .bottom,
.main-body .must-read .must-read-books .book3 .bottom {
    width: 100%;
    /* border: 1px solid rgb(0, 255, 60); */
    height: 40%;
    border-radius: 0px 0px 10px 10px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}
.main-body .must-read .must-read-books .book1 .bottom header,
.main-body .must-read .must-read-books .book1 .bottom .book1-content,
.main-body .must-read .must-read-books .book1 .bottom button,
.main-body .must-read .must-read-books .book2 .bottom header,
.main-body .must-read .must-read-books .book2 .bottom .book2-content,
.main-body .must-read .must-read-books .book2 .bottom button,
.main-body .must-read .must-read-books .book3 .bottom header,
.main-body .must-read .must-read-books .book3 .bottom .book3-content,
.main-body .must-read .must-read-books .book3 .bottom button{
    height: 34.5%;
    /* border: 1px solid black; */
    /* padding: 20px; */
}
.main-body .must-read .must-read-books .book1 .bottom header h1,
.main-body .must-read .must-read-books .book2 .bottom header h1,
.main-body .must-read .must-read-books .book3 .bottom header h1{
    font-size: 21px;
    color: #344054;
    text-transform: capitalize;
    margin: auto 0;
}

.main-body .must-read .must-read-books .book1 .bottom .book1-content,
.main-body .must-read .must-read-books .book2 .bottom .book2-content,
.main-body .must-read .must-read-books .book3 .bottom .book3-content{
    height: 31%;
    border-block: 0.5px solid #E7E7E7;
}

.main-body .must-read .must-read-books .book1 .bottom .book1-content section,
.main-body .must-read .must-read-books .book2 .bottom .book2-content section,
.main-body .must-read .must-read-books .book3 .bottom .book3-content section{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #1D2939;
    font-size: 15px;
    align-items: center;
    /* border: 1px solid rgb(248, 63, 63); */
}
.main-body .must-read .must-read-books .book1 .bottom .book1-content section p:last-child b,
.main-body .must-read .must-read-books .book2 .bottom .book2-content section p:last-child b,
.main-body .must-read .must-read-books .book3 .bottom .book3-content section p:last-child b{
    font-size: 19px;
}

.main-body .must-read .must-read-books .book1 .bottom button,
.main-body .must-read .must-read-books .book2 .bottom button,
.main-body .must-read .must-read-books .book3 .bottom button{
    border: none;
    border-radius: 0px 0px 10px 10px;
    background-color: #F6F6F6;
    color:#4E48E0;
    font-weight: 900;
    font-size: 17px;
}

.main-body .must-read .must-read-books .book1 .bottom button:hover,
.main-body .must-read .must-read-books .book2 .bottom button:hover,
.main-body .must-read .must-read-books .book3 .bottom button:hover {
    color: #F6F6F6;
    background-color: #908cff;
}

.main-body .must-read .must-read-books .book1 .bottom button:focus,
.main-body .must-read .must-read-books .book2 .bottom button:focus,
.main-body .must-read .must-read-books .book3 .bottom button:focus {
    color: #F6F6F6;
    background-color: #4E48E0;
}

/* reviews styling */
.main-body .reviews{
    /* border: 2px solid darkorchid; */
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    background-color: #F6F6F6;
}
.body_wrapper .main-body .review-background{
    /* border:2px solid red; */
    width: 90%;
    height: 100%;
    background-image: url('../assets/review_background.svg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-body .reviews header {
    position: relative;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.main-body .reviews header h1{
    font-size: 38px;
    color: #1D2939;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.main-body .reviews header p{
    font-size: 16px;
    color: #344054;
    text-align: center;
}
.main-body .reviews .reviews_body{
    position: relative;
    border: 2px solid orange;
    height: 60vh;
    width: 90%;
}